:root {
  --sidebar-width: 500px; /* doubled the width */
  --transition-duration: 0.3s;
  --padding-top: 64px;
  --max-width: 1400px;
  --max-width-large: 1600px;
}

.appContainer {
  display: grid;
  grid-template-columns: var(--sidebar-width) 1fr;
  height: 100vh;
}

.drawerOpen {
  grid-column: 1;
  transition: width var(--transition-duration);
}

.drawerClosed {
  grid-column: 1;
  width: 0;
  transition: width var(--transition-duration);
}

.container {
  grid-column: 2;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow: hidden;
  padding-top: var(--padding-top);
  width: 100%;
  max-width: var(--max-width);
  margin: 0 auto;
  height: auto;
}

.appHeader {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow: hidden;
  padding-top: var(--padding-top);
  width: 100%;
  max-width: var(--max-width);
  margin: 0 auto;
  height: auto;
}

.appLogo {
  margin-bottom: 20px;
}

@media (min-width: 1600px) {
  .appHeader {
    max-width: var(--max-width-large);
  }
}

@media (max-width: 600px) {
  .container {
    grid-column: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
