/* src/app/components/Results/Results.module.css */
.results {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: center;
  padding: 20px;
}

.carouselContainer {
  max-width: 500px;
  margin: 0 auto;
}

.carousel {
  max-width: 100%;
  max-height: 100%;
}
